@switch (stepperOrientation | async) {
  @case ('horizontal') {
    <div>Make your screen smaller to see a vertical stepper</div>
  }
  @case ('vertical') {
    <div>Make your screen larger to see a horizontal stepper</div>
  }
}
<div class="home-view">
  <div class="left-section">
    <img [src]="logoSrc" alt="Logo">
    <div class="vdivider"></div>
  </div>

  <app-button-toggle [buttonOptions]='["Estudiantes","Perfil", "Estadisticas"]' (optionSelected)="updateContent($event)"> </app-button-toggle>
  <div class="right-section">
    <!-- Buttons go here -->
    <button mat-raised-button color="primary">Know More</button>
    <button mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="primary">Contact</button>
  </div>
</div>
<div class="students">
  <div class="title">
    <h3> {{this.formFieldData}}</h3> </div>
    <mat-divider></mat-divider>
  <div class="container">


    <mat-stepper
  class="stepper" #stepper
  [orientation]="(stepperOrientation | async)!">
    <form [formGroup]="BasicInfoForm">
      <ng-container *ngFor="let InfoForm of this.steps; let j = index" >
      <mat-step [stepControl]="this.getFormArray(InfoForm[1])" label="Fill out your name">
        <div class="mat-step">
      <div class="form"  *ngFor="let control of this.getFormArray(InfoForm[1]).controls; let i = index"    >
      <h6> {{ formFieldData[j][0][i].titleNest}}</h6>
      <div class="row-multifield" *ngIf= formFieldData[j][0][i]>
      <app-basic-form [formFieldType]='formFieldData[j][0][i]' [dynamicForm]="control |asFormGroup" [style.--width]="formFieldData[j][0][i].width" ></app-basic-form>
      <ng-container  *ngFor="let nest of formFieldData[j][0][i].nestedForm">
      <app-basic-form *ngIf="formFieldData[j][0][i].nestedForm" [dynamicForm]="control |asFormGroup " [formFieldType]='nest'  [style.--width]="formFieldData[j][0][i].width" ></app-basic-form>

    </ng-container>
    </div>
      <div >

      </div>
    </div>
    <div class="submit">
      <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon"(click)="goBack()" >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon" (click)="submitPage()">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    </div>




  </mat-step>
</ng-container>
</form>


<mat-step>

</mat-step>
</mat-stepper>

</div>
