
<!-- home-view.component.html -->
<div class="base">
<div class="home-view">
    <div class="left-section">
      <img [src]="logoSrc" alt="Logo">
      <div class="divider"></div>
    </div>

    <app-button-toggle [buttonOptions]='["Saber mas","Ingresar", "Registrar"]' (optionSelected)="updateContent($event)"> </app-button-toggle>
    <div class="right-section">
      <!-- Buttons go here -->
      <button mat-raised-button color="primary">Know More</button>
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="primary">Contact</button>
    </div>

  </div>
<div class="middle-section">
    <div class="column-layout">
      <div class="column">
        <div class="logo-home"> <img [src]="logoSrc" alt="Logo"> </div>
      </div>
      <div class="divider"></div>
      <div class="column">
        <div class="sabermas" *ngIf="selection=== 'Saber mas'">
          <a class="tittle"> </a>

        </div>
        <div class="auth"  *ngIf="selection=== 'Ingresar'">
          <a class="tittle"> Ingresar </a>
          <mat-form-field>
            <mat-label> Usuario</mat-label>
            <input matInput [formControl]="username" required >
            <mat-error *ngIf="username.hasError('required')">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label> Contrasena</mat-label>
            <input matInput [formControl]="password"  required>
            <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
          </mat-form-field>
          <button mat-mini-fab color="primary" (click)="LoginButton()">
              <mat-icon>login</mat-icon>

          </button>
        </div>
        <div class="auth"   *ngIf="selection=== 'Registrar'">
          <a class="tittle"> Registrate </a>
          <mat-form-field>
            <mat-label> Usuario</mat-label>
            <input matInput [formControl]="username" required >
          </mat-form-field>
          <mat-form-field>
            <mat-label> Contrasena</mat-label>
            <input matInput [formControl]="password" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label> Selecciona tu rol</mat-label>
          <mat-select  [formControl]="roles" >
            <mat-option value="teacher">Profesor</mat-option>
            <mat-option value="student">Estudiantes</mat-option>
            </mat-select>
          </mat-form-field>

            <button mat-mini-fab color="primary" (click)="SignupButton()">
            <mat-icon>login</mat-icon>
            </button>
          <p *ngIf="loginErrorMessage" class="error-message">{{ loginErrorMessage }}</p>
        </div>
      </div>

    </div>

</div>
</div>
