
  <div class="home-view">
      <div class="left-section">
        <img [src]="logoSrc" alt="Logo">
        <div class="vdivider"></div>
      </div>

      <app-button-toggle [buttonOptions]='["Estudiantes","Perfil", "Estadisticas"]' (optionSelected)="updateContent($event)"> </app-button-toggle>
      <div class="right-section">
        <!-- Buttons go here -->
        <button mat-raised-button color="primary">Know More</button>
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button color="primary">Contact</button>
      </div>
</div>

<div class="students">
  <div class="container">
    <div class="container-top">
    <div class="logo"><img [src]="'././assets/student.png'"></div>
    <div class="name"><h1>Jose Gabriel Sierra Ariza</h1></div>
  </div>
    <!-- <div class="hdivider"></div>-->
    <mat-divider></mat-divider>
    <div class="container-bot">
    <div class="info">
      <mat-card>
        <mat-card-content><mat-icon>perm_contact_calendar</mat-icon> <p>Edad: 20 </p>
      </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><mat-icon>perm_contact_calendar</mat-icon> <p>Edad: 20 </p>
      </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content><mat-icon>perm_contact_calendar</mat-icon> <p>Edad: 20 </p>
      </mat-card-content>
      </mat-card>
    </div>

    <div class="squares">

        <button mat-fab extended aria-label="extended">
          <mat-icon>favorite</mat-icon>
          Entorno Educativo
      </button>
      <button mat-fab extended aria-label="extended">
        <mat-icon>favorite</mat-icon>
        PIAR
    </button>


  </div>
  </div>
</div>
