
  <div class="home-view">
      <div class="left-section">
        <img [src]="logoSrc" alt="Logo">
        <div class="vdivider"></div>
      </div>

      <app-button-toggle [buttonOptions]='this.roleToggleData' (optionSelected)="updateContent($event)"> </app-button-toggle>
      <div class="right-section">
        <!-- Buttons go here -->
        <button mat-raised-button color="primary">Know More</button>
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button color="primary">Contact</button>
      </div>
</div>
<ng-container *ngFor="let data of this.arrayStudents">

<app-student [data]="data"></app-student></ng-container>
<app-student [data]="{name: 'anadir studiante'}"></app-student>
