<div class="base">
  <div class="flex-wrapper">
<router-outlet></router-outlet>

<footer>
  <div class="footcontainer">
    <div class="right-items">
    <ul>
      <li><a href=""> Item 1</a></li>
      <li><a href=""> Item 2</a></li>
    </ul>
  </div>
    <div class="right-items">
      <ul>
        <li><a href=""> Item 1</a></li>
        <li><a href=""> Item 2</a></li>
      </ul>
      </div>
  <div class="right-items">
    <ul>
      <li><a href=""> Item 1</a></li>
      <li><a href=""> Item 2</a></li>
    </ul>
  </div>
</div>
</footer></div>
</div>
