<!-- my-form.component.html -->

<form  [formGroup]="dynamicForm">
  <div class="upper" [formArrayName]="formFieldType.database">
  <div class="subtitle" >
    <a>{{ formFieldType.title }}</a>
    </div>
    <mat-checkbox  [formControlName]="0"  *ngIf="formFieldType.checkButton" ></mat-checkbox>

    <div class="join-inline">
      <div class="join-block">
  <div *ngIf="formFieldType.selectOptions" class="form-field-container">
    <mat-form-field >
      <mat-label>Opciones</mat-label>
      <mat-select [formControlName]="0"  >
        <div *ngFor="let option of formFieldType.selectOptions  ; let i = index">
        <mat-option [value]="option">{{option}}</mat-option>
      </div>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngIf="formFieldType.text ? false : true "    >

  <div *ngFor="let control of (this.dynamicForm.get(this.formFieldType.database)! |asFormArray ).controls; let i = index"    >

  <mat-form-field appearance="fill"   *ngIf="formFieldType.type">
    <mat-label >{{ formFieldType.subtitle }}</mat-label>
    <input matInput [type]="formFieldType.type"  [formControlName]="i"   *ngIf="!formFieldType.date"  >
    <input matInput [type]="formFieldType.type"  [formControlName]="i" [matDatepicker]="picker "   *ngIf="formFieldType.date">
    <mat-datepicker-toggle matIconSuffix [for]="picker" *ngIf="formFieldType.date"> </mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>
  <div *ngIf="formFieldType.optionalButton" class="button-container" >
    <button mat-mini-fab color="accent" appearance= "standard" aria-label="Example icon button with a plus one icon" (click)="addFormField()" >
      <mat-icon>plus_one</mat-icon>
    </button>
  </div>

  </div>
</ng-container>
</div>
  <div *ngIf="formFieldType.optionalButton" class="button-container" >
    <button mat-mini-fab color="accent" appearance= "standard" aria-label="Example icon button with a plus one icon" (click)="addFormField()" >
      <mat-icon>plus_one</mat-icon>
    </button>

</div>
  </div>

 </div>


</form>
